name: Es word frequence
on:
  workflow_dispatch:
jobs:
  upload-git:
    uses: colchetedao/streakCounter/.github/workflows/git.yml@main
    secrets: inherit
    with:
      exec: |
        curl -o esWF.json https://api.datamuse.com/words?sp=*&v=es&md=f&t=f 
        curl -o enWF.json https://api.datamuse.com/words?sp=*&v=en&md=f&t=f
        curl -H "Cache-Control: no-cache, no-store, must-revalidate" -H "Pragma: no-cache" -H "Expires: 0" https://api.datamuse.com/words?sp=*&v=en&md=f&t=f
