name: Es word frequence
on:
  workflow_dispatch:
jobs:
  upload-git:
    uses: colchetedao/streakCounter/.github/workflows/git.yml@main
    secrets: inherit
    with:
      exec: |
        bash genFrequence.sh
